:root {
    --primary-color: #1F8275;
    --secondary-color: #63bbfffc;
    --accent-color: #EDB957;
    --text-color: #2F4858;
    --white-color: #DFE0DF;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family:Lexend, sans-serif;
    background-color: var(--primary-color);
}

header{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.heroTitle{
    background-color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 700;
    color: var(--accent-color);
    text-align: center;
    margin-top: 2rem;
    width: 50%;
    border-radius: 10px;
}
main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftSide{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pie-chart{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    
}


#myChart{
    border-radius: 5px;
}

.monthlyRevenueContainer{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
    width: 98%;
}
.monthlyRevenue{
    font-family: "Wire One", sans-serif;
    font-size: 3rem;
    line-height: 0.3;
    width: 100%;
}
.budgetInputContainer{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.originalBudgetContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.totalBudgetContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.budgetInputContainer input{
    width: 50%;
}
.togglesContainer{

    width: 100%;
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color);
}
.toggle{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    margin: 0.5rem auto;
    border-radius: 10px;
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
    text-align: center;
    padding: 2px;
    font-family: "Wire One", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.toggle h3{
margin-left: 10px;
}
.amountContainer{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 30%; /* Now this is the height */
    height: 30px; /* Now this is the width */
    background: var(--text-color);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    margin-right: 10px;
 
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Important: remove default styles */
    appearance: none;
    width: 15px;
    height: 39px;
    background: var(--accent-color); /* Change the color */
    border-radius: 10px; /* Make it circular */
    cursor: pointer;
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.text-shadow{
    text-shadow: 0px 9px 0px rgba(28,101,112,0.75);  ;
}
.containerShadow{
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
}

#currency, #current-currency, #originalBudget, #totalBudget{
    /* max-width: 75px; */
}
.titleCurrency{
   display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 97%;
    font-size: 2rem;
    
}
.splitButton{
    width: 95%;
    margin: 0 auto;
    display: flex;
}
.currencies{
    width: 50%;
    font-weight: 600;
    font-size: 1.7rem;
    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.currency-container{
    display: none;
    position: fixed;
    top: 10%;
    left:2%;
    width: 25%;
}


.currency-container.visible {
    display: block;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family: "Wire One", sans-serif;

    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--text-color);

}

.currencyButton{
    display:block;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 20px 20px;
    width: 10%;
    min-width: 70px;
    height: 15%;
    max-height: 100px;
    background-color: var(--accent-color);
    font-family: "Wire One", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 600;
}
.closeCurrency{
    width: 10%;
    height: 20px;
    background-color: var(--accent-color);
    font-family: "Wire One", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
}
.advice-container{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: "Wire One", sans-serif;
    line-height: 40px;
    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 5px;
}
#adviceDiv{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 105%;
}
.advice-container h3  {
    width: 97%;
    font-size: 1.7rem;
    line-height: 110%;
    text-align: center; 
}

.advice-heading {
    width: 95%;
}

.button-box {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.advice-button {
    font-family: "Wire One", sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    margin: 2px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .advice-button:hover {
    background-color: var(--primary-color);
    color: var(--white-color); 
  }

.advice-buttons{
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-evenly;
}


.currencyDisplayAmount {
    display: block;
    width: 70%;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;
}
#converted-amount{
    width: 100%;
    display: flex;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;
}
#convert-button{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;
}

#conversion-result{
    width: 50%;
    font-weight: 600;
    font-size: 1.7rem;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--primary-color);
}

#conversion-result p{
    font-size: 1.5rem;
    font-weight: 600;
}

.displayAmount {
    /* Existing styles */
    width: 50%;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;
}

.displayAmount {
    /* Existing styles */
    width: 20%;
    min-width: 25px;
    height: 20px;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;

    /* For IE and Edge */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.lockButton{
    width: 30px;
    height: 30px;
    background: var(--secondary-color);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    
}
.fa-lock{
    color: var(--text-color);
    font-size: 1.5rem;

}
.fa-unlock{
    color: var(--accent-color);
    font-size: 1.3rem;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0; /* Position at the right edge of the screen */
    top: 30%; /* Position at the vertical center of the screen */
    transform: translateY(-50%); /* Adjust for modal's own dimensions */
    width: 30%; /* Half of the screen width */
    height: 50%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    
    color:var(--text-color);
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
}

#showModalButton{
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 10%;
    min-width: 70px;
    height: 15%;
    max-height: 100px;
    background-color: var(--accent-color);
    font-family: "Wire One", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    transition : 1s ease;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #63bbfffc;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .footer-main > div {
    flex: 1;
    margin: 10px;
  }

  .footer-main a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    padding: 10px;
}

.footer-main a:hover {
    color: #ffa500;
    cursor: pointer;
}

.footer-main h3 {
    color: white;
  }

@media screen and (max-width: 768px) {
    .heroTitle{
        font-size: 3rem;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .monthlyRevenueContainer{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .monthlyRevenue{
        font-size: 2rem;
        line-height: 40px;
    }

    .togglesContainer{
        width: 100%;
        margin: 0 auto;
        margin-right: 0px;
    }
    .toggle{
        width: 90%;
        font-size: 1.8rem;
    }
    .toggle p{
        display: none;
    }
    .amountContainer{
        width: 80%;
    }
    .slider{
        width: 80px;
        height: 10px;
        margin: 0 20px;
    }
    .lockButton{
        width: 40px;
        height: 40px;
    }
    .currency-container{
        width: 48%;
    }

    .modal {
        width:48%;
    }
}
