:root {
    --primary-color: #1F8275;
    --secondary-color: #63bbfffc;
    --accent-color: #EDB957;
    --text-color: #2F4858;
    --white-color: #DFE0DF;
}

body{
    margin: 0;
    padding: 0;
    font-family:Lexend, sans-serif;
    background-color: var(--primary-color);
}

header{
    margin: auto;
    display: flex;
    justify-content: end;
}
.heroTitle{
    background-color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 700;
    color: var(--accent-color);
    text-align: center;
    margin-top: 2rem;
    width: 50%;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.leftSide{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pie-chart{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    
}

#myChart{
    border-radius: 5px;
}

.monthlyRevenueContainer{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}
.monthlyRevenue{
    font-family: "Wire One", sans-serif;
    font-size: 3rem;
    line-height: 0.3;
}
.togglesContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    color: var(--text-color);
}
.toggle{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin: 0.4rem;
    border-radius: 10px;
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
    text-align: center;
    padding: 2px;
    font-family: "Wire One", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.toggle h3{
}
.slider {
    -webkit-appearance: none;
    width: 100px; /* Now this is the height */
    height: 40px; /* Now this is the width */
    background: var(--text-color);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(90deg) scaleX(-1); /* Rotate and flip the slider */
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.advice-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.advice-container, h3 {
    width: 100%;
    text-align: center;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Important: remove default styles */
    appearance: none;
    width: 25px;
    height: 50px;
    background: var(--accent-color); /* Change the color */
    border-radius: 10px; /* Make it circular */
    cursor: pointer;
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.text-shadow{
    text-shadow: 0px 9px 0px rgba(28,101,112,0.75);  ;
}
.containerShadow{
    box-shadow: -4px 4px 0px rgba(28,101,112,1);
}

.displayAmount {
    /* Existing styles */
    width: 50%;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-appearance: none; /* For Chrome and Safari */
    -moz-appearance: textfield; /* For Firefox */
    font-family: "Wire One", sans-serif;
    /* Inner shadow */
    box-shadow:inset -3px 3px 0px #ab7919;

    /* For IE and Edge */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.lockButton{
    width: 30px;
    height: 30px;
    background: var(--secondary-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.fa-lock{
    color: var(--text-color);
    font-size: 1.5rem;

}
.fa-unlock{
    color: var(--accent-color);
    font-size: 1.3rem;

}


@media screen and (max-width: 768px) {
    .heroTitle{
        font-size: 3rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .monthlyRevenueContainer{
        padding: 0.5rem;
    }
    .monthlyRevenue{
        font-size: 2rem;
        line-height: 40px;
    }
    main{
        display: block;
    }
    .leftSide{

        margin: 0 auto;
        width: 70%;
    }
    .togglesContainer{
        padding: 0.5rem;
    }
    .toggle{
        width: 26%;
        font-size: 1.1rem;
    }
}
